%postSet {
    display: flex;
    flex-direction: column;
    padding: 30px;

    .thumnail {
        position: relative;

        img {
            width: 100%;
            margin-bottom: 25px;
        }

        div:nth-child(2) {
            font-size: 25px;
            position: absolute;
            top: 5px;
            left: 5px;
            opacity: 0.7;
        }
    }
}

%descriptionSet {
    background: white;
    border-radius: 5px;
    padding: 5px;

    ul {
        display: flex;
        flex-direction: column;
        align-items: center;

        li {
            font-size: 13px;
            padding: 5px 0;

            &:last-child span {
                display: inline-block;
                width: 10px;
                height: 10px;
                border-radius: 50%;

                &:not(:last-child) {
                    margin-right: 5px;
                }
            }
        }
    }
}