@import "./reset.scss";
@import "./common.scss";

* {
    box-sizing: border-box;

    a {
        color: inherit;
        text-decoration: none;
        text-transform: uppercase;
    }
}

body {
    margin-top: 100px;
    // background: tomato;
}


// HEADER

.header {
    width: 100%;
    background: #f4f4f4;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    padding: 50px 30px;

    h1 {
        font-size: 30px;
        text-transform: uppercase;
        font-weight: bold;
        font-family: 'Rock Salt', cursive;

        a {
            padding: 15px 0;
        }
    }

    .categories {
        display: flex;
        font-family: 'Bitter', serif;

        li {
            font-size: 22px;
            display: flex;
            align-items: center;

            span {
                display: inline-block;
                width: 15px;
                height: 15px;
                background: red;
                border-radius: 50%;
                margin-right: 5px;
            }

            &:nth-child(1) {
                span {
                    background: #A4C8E0;
                }
            }

            &:nth-child(2) {
                span {
                    background: green;
                }
            }

            &:nth-child(3) {
                span {
                    background: yellow;
                }
            }

            &:not(:first-child) {
                margin-left: 20px;
            }

            a {
                padding: 20px 0;
            }
        }

    }

    .user {
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 13px;

        &>span:not(:first-child) {
            margin-left: 4px;
        }

        a {
            padding: 10px 0;
        }
    }
}

.posts__grid {
    display: flex;
    width: 100%;
    flex-wrap: wrap;

    .post:nth-child(1) {
        @extend %postSet;
        background: rgb(164, 200, 224);

        .description {
            @extend %descriptionSet;

            li:nth-child(2)>span {
                &:nth-child(1) {
                    background: #000000;
                }

                &:nth-child(2) {
                    background: #D7B170;
                }

                &:nth-child(3) {
                    background: #C0C0C0;
                }
            }

            li:nth-child(3) {
                text-decoration: line-through;
            }

            li:nth-child(4)>span {
                color: red;
            }

            li:last-child {
                font-weight: bold;
            }


        }
    }

    .post:nth-child(2) {
        @extend %postSet;
        background: rgb(137, 188, 221);

        .description {
            @extend %descriptionSet;

            li:nth-child(2)>span {

                &:nth-child(1) {
                    background: #61CDE7;
                }

                &:nth-child(2) {
                    background: #125CC1;
                }

                &:nth-child(3) {
                    background: #01008C;
                }

                &:nth-child(4) {
                    background: #000000;
                }
            }

            li:last-child {
                font-weight: bold;
            }

        }
    }

    .post:nth-child(3) {
        @extend %postSet;
        background: rgb(164, 200, 224);

        .description {
            @extend %descriptionSet;

            li:nth-child(2)>span {

                &:nth-child(1) {
                    background: #61CDE7;
                }

                &:nth-child(2) {
                    background: #125CC1;
                }

                &:nth-child(3) {
                    background: #01008C;
                }

                &:nth-child(4) {
                    background: #000000;
                }
            }

            li:last-child {
                font-weight: bold;
            }

        }
    }

    .post:nth-child(4) {
        @extend %postSet;
        background: rgb(137, 188, 221);

        .description {
            @extend %descriptionSet;

            li:nth-child(2)>span {

                &:nth-child(1) {
                    background: #61CDE7;
                }

                &:nth-child(2) {
                    background: #125CC1;
                }

                &:nth-child(3) {
                    background: #01008C;
                }

                &:nth-child(4) {
                    background: #000000;
                }
            }

            li:last-child {
                font-weight: bold;
            }

        }
    }

    .post:nth-child(5) {
        @extend %postSet;
        background: rgb(164, 200, 224);

        .description {
            @extend %descriptionSet;

            li:nth-child(2)>span {

                &:nth-child(1) {
                    background: #61CDE7;
                }

                &:nth-child(2) {
                    background: #125CC1;
                }

                &:nth-child(3) {
                    background: #01008C;
                }

                &:nth-child(4) {
                    background: #000000;
                }
            }

            li:last-child {
                font-weight: bold;
            }

        }
    }

    .post:nth-child(6) {
        @extend %postSet;
        background: rgb(137, 188, 221);

        .description {
            @extend %descriptionSet;

            li:nth-child(2)>span {

                &:nth-child(1) {
                    background: #61CDE7;
                }

                &:nth-child(2) {
                    background: #125CC1;
                }

                &:nth-child(3) {
                    background: #01008C;
                }

                &:nth-child(4) {
                    background: #000000;
                }
            }

            li:last-child {
                font-weight: bold;
            }

        }
    }

    .post:nth-child(7) {
        @extend %postSet;
        background: rgb(164, 200, 224);

        .description {
            @extend %descriptionSet;

            li:nth-child(2)>span {

                &:nth-child(1) {
                    background: #61CDE7;
                }

                &:nth-child(2) {
                    background: #125CC1;
                }

                &:nth-child(3) {
                    background: #01008C;
                }

                &:nth-child(4) {
                    background: #000000;
                }
            }

            li:last-child {
                font-weight: bold;
            }

        }
    }

    .post:nth-child(8) {
        @extend %postSet;
        background: rgb(137, 188, 221);

        .description {
            @extend %descriptionSet;

            li:nth-child(2)>span {

                &:nth-child(1) {
                    background: #61CDE7;
                }

                &:nth-child(2) {
                    background: #125CC1;
                }

                &:nth-child(3) {
                    background: #01008C;
                }

                &:nth-child(4) {
                    background: #000000;
                }
            }

            li:last-child {
                font-weight: bold;
            }

        }
    }

    .post:nth-child(9) {
        @extend %postSet;
        background: rgb(164, 200, 224);

        .description {
            @extend %descriptionSet;

            li:nth-child(2)>span {

                &:nth-child(1) {
                    background: #61CDE7;
                }

                &:nth-child(2) {
                    background: #125CC1;
                }

                &:nth-child(3) {
                    background: #01008C;
                }

                &:nth-child(4) {
                    background: #000000;
                }
            }

            li:last-child {
                font-weight: bold;
            }

        }
    }

    .post:nth-child(10) {
        @extend %postSet;
        background: rgb(137, 188, 221);

        .description {
            @extend %descriptionSet;

            li:nth-child(2)>span {

                &:nth-child(1) {
                    background: #61CDE7;
                }

                &:nth-child(2) {
                    background: #125CC1;
                }

                &:nth-child(3) {
                    background: #01008C;
                }

                &:nth-child(4) {
                    background: #000000;
                }
            }

            li:last-child {
                font-weight: bold;
            }

        }
    }
}